<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Weather, Next Up Event</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.heartlinespreferences</string>
			<key>label</key>
			<string>Color</string>
			<key>key</key>
			<string>weatherUpNextEventColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Wallpaper Based 1</string>
				<string>Wallpaper Based 2</string>
				<string>Wallpaper Based 3</string>
				<string>Custom</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.heartlinespreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>love.litten.heartlines.colorspreferences</string>
				<key>fallback</key>
				<string>#FFFFFF</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Custom Color</string>
			<key>key</key>
			<string>customWeatherUpNextEventColor</string>
			<key>PostNotification</key>
			<string>love.litten.heartlines.colorspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FaceID Lock, Time, Date, Next Up</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.heartlinespreferences</string>
			<key>label</key>
			<string>Color</string>
			<key>key</key>
			<string>timeDateUpNextColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Wallpaper Based 1</string>
				<string>Wallpaper Based 2</string>
				<string>Wallpaper Based 3</string>
				<string>Custom</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.heartlinespreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>love.litten.heartlines.colorspreferences</string>
				<key>fallback</key>
				<string>#FFFFFF</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Custom Color</string>
			<key>key</key>
			<string>customTimeDateUpNextColor</string>
			<key>PostNotification</key>
			<string>love.litten.heartlines.colorspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Artwork Based Colors</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.heartlinespreferences</string>
			<key>key</key>
			<string>artworkBasedColors</string>
			<key>label</key>
			<string>Use Artwork Based Colors</string>
			<key>PostNotification</key>
			<string>love.litten.heartlinespreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.heartlinespreferences</string>
			<key>label</key>
			<string>Weather, Next Up Event Color</string>
			<key>key</key>
			<string>weatherUpNextEventArtworkColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Artwork Based 1</string>
				<string>Artwork Based 2</string>
				<string>Artwork Based 3</string>
				<string>None</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.heartlinespreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.heartlinespreferences</string>
			<key>label</key>
			<string>FaceID Lock, Time, Date, Next Up Color</string>
			<key>key</key>
			<string>timeDateUpNextArtworkColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Artwork Based 1</string>
				<string>Artwork Based 2</string>
				<string>Artwork Based 3</string>
				<string>None</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.heartlinespreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Heartlines</string>
</dict>
</plist>
