<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hiding</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.heartlinespreferences</string>
			<key>key</key>
			<string>hideFaceIDLock</string>
			<key>label</key>
			<string>Hide FaceID Lock</string>
			<key>PostNotification</key>
			<string>love.litten.heartlinespreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Alignment</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.heartlinespreferences</string>
			<key>key</key>
			<string>alignFaceIDLock</string>
			<key>label</key>
			<string>Align FaceID Lock</string>
			<key>PostNotification</key>
			<string>love.litten.heartlinespreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.heartlinespreferences</string>
			<key>key</key>
			<string>smallerFaceIDLock</string>
			<key>label</key>
			<string>Smaller FaceID Lock</string>
			<key>PostNotification</key>
			<string>love.litten.heartlinespreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Heartlines</string>
</dict>
</plist>
