<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	
		<dict>
			<key>cellClass</key>
			<string>DuoTwitterCell</string>
			<key>firstLabel</key>
			<string>🌸 Litten</string>
			<key>firstAccount</key>
			<string>Litteeen</string>
			<key>secondLabel</key>
			<string>taki</string>
			<key>secondAccount</key>
			<string>74k1_</string>
			<key>height</key>
			<real>57</real>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Style And Position</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSDefaultCell</string>
			<key>cellClass</key>
			<string>AppearanceSelectionTableCell</string>
			<key>options</key>
			<array>
				<dict>
					<key>text</key>
					<string>Strawberry</string>
					<key>image</key>
					<string>strawberry</string>
				</dict>
				<dict>
					<key>text</key>
					<string>Cherry</string>
					<key>image</key>
					<string>cherry</string>
				</dict>
				<dict>
					<key>text</key>
					<string>Peach</string>
					<key>image</key>
					<string>peach</string>
				</dict>
			</array>
			<key>defaults</key>
			<string>love.litten.heartlinespreferences</string>
			<key>PostNotification</key>
			<string>love.litten.heartlinespreferences/reload</string>
			<key>key</key>
			<string>style</string>
			<key>height</key>
			<integer>210</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>love.litten.heartlinespreferences</string>
			<key>key</key>
			<string>position</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Left</string>
				<string>Center</string>
				<string>Right</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>love.litten.heartlinespreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Customization</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>FaceID Lock</string>
 			<key>detail</key>
 			<string>HLSFaceIDLockSubPrefsListController</string>
 			<key>HLSSub</key>
 			<string>faceIDLockSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Text</string>
 			<key>detail</key>
 			<string>HLSTextSubPrefsListController</string>
 			<key>HLSSub</key>
 			<string>textSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Colors</string>
 			<key>detail</key>
 			<string>HLSColorsSubPrefsListController</string>
 			<key>HLSSub</key>
 			<string>colorsSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Weather</string>
 			<key>detail</key>
 			<string>HLSWeatherSubPrefsListController</string>
 			<key>HLSSub</key>
 			<string>weatherSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Up Next</string>
 			<key>detail</key>
 			<string>HLSUpNextSubPrefsListController</string>
 			<key>HLSSub</key>
 			<string>upNextSub</string>
 		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Preferences</string>
			<key>action</key>
			<string>resetPrompt</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contributions</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Contributors</string>
 			<key>detail</key>
 			<string>HLSContributorsSubPrefsListController</string>
 			<key>HLSSub</key>
 			<string>contributorsSub</string>
 		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>You Might Like:</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Lune</string>
			<key>subtitle</key>
			<string>Let a moon icon appear when dnd is on</string>
			<key>icon</key>
			<string>Lune.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/lne/</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Violet</string>
			<key>subtitle</key>
			<string>Make your wallpaper your song's artwork</string>
			<key>icon</key>
			<string>Violet.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/vio/</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Heartlines By Litten, Icon And Banner By taki</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Discord</string>
			<key>subtitle</key>
			<string>Chat with us 👾</string>
			<key>url</key>
			<string>https://discord.com/invite/fPHN8KG</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>subtitle</key>
			<string>GitHub 🌺</string>
			<key>url</key>
			<string>https://github.com/Litteeen/Heartlines</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate To Litten</string>
			<key>subtitle</key>
			<string>Appreciated 💝</string>
			<key>url</key>
			<string>https://paypal.me/Litteeen</string>
		</dict>

		<dict>
			<key>cell</key>
			<key>PSGroupCell</key>
			<key>footerText</key>
			<string>loving with the sky</string>
			<key>isStaticText</key>
			<true/>
			<key>footerAlignment</key>
			<real>1</real>
		</dict>

	</array>
	<key>title</key>
	<string>Heartlines</string>
</dict>
</plist>
